link(href='/stylesheets/stylebootstrap.min.css', rel='stylesheet', media='screen')

div.body
	div(style={"margin-left":"auto", "margin-right":"auto", "display":"block", "width":"320px"})
		.container
			h1(style={"margin-bottom":"0px"}) TestGrafi
			p(style={"padding-left":"45px"}) powered by
				img(src='/images/Codascent_2C_RGB_HR.png', style={"height":"30px", "padding-left":"5px"})
			form.form-horizontal(style={"width":"320px"})
				p.text-danger {{vm.error}}
				p.text-success {{vm.success}}
				.form-group
					label.control-label.col-sm-3 New Password
					.col-sm-9
						input.form-control(type='password', ng-model='vm.password')
				.form-group
					label.control-label.col-sm-3 Confirm Password
					.col-sm-9
						input.form-control(type='password', ng-model='vm.passwordConfirmation')
				.form-group
					.col-sm-offset-3.col-sm-9
						button.btn.btn-primary(type='submit', ng-click="vm.resetPassword(vm.password,vm.passwordConfirmation)") Submit
						| &nbsp;&nbsp;&nbsp;
						a(ui-sref="signin()") Back to Sign In
